{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
    <!-- <h1>About page</h1> -->
    <div class="container mt-5">
        <h1 class="text-primary">About Us</h1>
        <p class="text-black-50">Aster Hospitals is one of the topmost healthcare providers in India. Our hospitals are renowned for their medical infrastructure and expertise as we have some of the finest doctors in the country, supported by ultra-modern technologies, research-based care in a warm & comforting environment. Our trusted doctors and a team of specialists work closely together to provide the best of healthcare.
            As a leader in the healthcare industry, our hospitals are accredited by the National Accreditation Board for Hospitals & Healthcare (NABH), and our high-tech laboratory services are NABL endorsed. Two of our hospitals Aster Medcity, Cochin & Aster Ramesh, Guntur are accredited with the JCI (Joint Commission International), considered the gold standard in global health care.
            Our 14 hospitals are present all across Karnataka, Kerala, Maharashtra, Telangana & Andhra Pradesh bring you world-class care and treatment. 
            We endeavour to make Aster a world-class patient-centric hospital where we provide our patients with high-quality care and treatment while delivering the best possible medical results. </p>
    
            <div class="text-center">
                <h2 class="text-primary"><i class="bi bi-geo-alt"></i> Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15715.222509607907!2d76.2831428647041!3d10.03289263656102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d9435ab9d67%3A0x3f9432b104f24fa2!2sAmrita%20Hospital%2C%20Kochi!5e0!3m2!1sen!2sin!4v1697524550558!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </div>



{% endblock %}